* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none; /* Internet Explorer 10+ hide scrollbar */
  scrollbar-width: none; /* Firefox hide scrollbar */
  /* border: 1px solid red !important; */
}

*:focus-visible {
  outline: 3px solid red;
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome hide scrollbar */
}

*::selection {
  /* Tailwind classes must be used in HTML files or a post-processing tool is required */
  background-color: black;
  color: white;
}

html,
body {
  /* Ensure bg-base-100 is defined in your Tailwind CSS config */
  @apply bg-primary;
}

.page {
  position: fixed;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s, transform 0.3s;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  /* Corrected the transition duration */
  transition: opacity 0.3s, transform 0.3s;
}
